table tr td .slides {
    width: 200px;
}
table tr td .slides .slick-prev {
    left: 5px;
    z-index: 5;
}
table tr td .slides .slick-next {
    right: 5px;
    z-index: 5;
}

table tr td .thumbs {
    width: 200px;
}

span[aria-current="page"] span {
    background: #ccc;
}

#globalnavi {
    position: sticky;
    top: 0;
}
